@page "/teste"

<PageTitle>Teste</PageTitle>
<!-- Jesus 2 OnCode -->

<h1 class="@minhaClasse" style="@meuEstilo">
    @texto
</h1>

<div>
    <label class="text-muted" >Digite seu nome:</label>
    <input @bind-value=texto type="text" class="form-control">
</div>

<div class="mt-3">
    <button @onclick="Change" class="btn btn-outline-primary">Mudar Texto</button>
</div>

<div class="row border p-4 mt-3 rounded shadow"> 
    <div class="col bg-primary">col  1</div>
    <div class="col bg-success">col  2</div>
    <div class="col bg-warning">col  3</div>
</div>

<div class="border mt-3 p-5 rounded shadow"> 
    <h1>Este é um texto editado com Bootstrap</h1>
</div>

@code {
    string texto = "BLAZOR PRO";
    string minhaClasse ="";
    string meuEstilo = "";
    void Change(){
        texto = "TEXTO ALTERADO COM SUCESSO!";
        minhaClasse = "text-center p-5";
        meuEstilo = "color: GREY; font-size: 6rem;";    
    }
}
