@page "/teste"

<PageTitle>Teste</PageTitle>
<h1 class="@minhaClasse" style="@meuEstilo">


    @dandoErro


</h1>
<Titulo Texto="@dandoErro"></Titulo>

<div>
    <label class="text-muted" >Digite seu nome:</label>
    <input @bind-value=dandoErro type="text" class="form-control">
</div>

<div class="mt-3">
    <button @onclick="Change" class="btn btn-outline-primary">Mudar Texto</button>
</div>

<div class="row border p-4 mt-3 rounded shadow"> 
    <div class="col bg-primary">col  1</div>
    <div class="col bg-success">col  2</div>
    <div class="col bg-warning">col  3</div>
</div>

<div class="border mt-3 p-5 rounded shadow"> 
    <h1>Este é um texto editado com Bootstrap</h1>
</div>

@code {
    string dandoErro = "BLAZOR PRO";
    string minhaClasse = "";
    string meuEstilo = "";
    void Change(){
        dandoErro = "TEXTO ALTERADO!";
        minhaClasse = "text-center p-5";
        meuEstilo = "color: GREY; font-size: 3rem;";    
    }
}
